/* SentApplicationsPage.module.css */

.sentApplicationsPage {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.registerNavbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: right;
}

.registerNavbar a,
.registerNavbar button {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
}

.registerNavbar button {
    background-color: #007bff;
    padding: 5px 10px;
    margin-left: 10px;
}

h1 {
    font-size: 24px;
    margin-top: 20px;
}

.applicationList {
    margin-top: 20px;
}

.applicationItem {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.applicationDetail {
    margin-bottom: 5px;
}

.applicationDetail strong {
    font-weight: bold;
}

.deleteButton {
    background-color: #ff4d4d;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
}
.applyButtonColumn {
    /* Beispiel für eine einfache Styling-Option, passen Sie diese nach Bedarf an */
    text-align: center; /* Zentriert den Button in der Spalte */
    margin-top: 10px; /* Fügt einen oberen Abstand hinzu */
}