/* CalendarEditPage.module.css */

.calendarEditPage {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.registerNavbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: right;
}

.registerNavbar a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

h1 {
    font-size: 24px;
    margin-top: 20px;
}

.weekNavigation {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.weekNavigation button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.calendar {
    margin-top: 20px;
}

.calendarHeader {
    display: flex;
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    padding: 5px;
}

.calendarCorner {
    flex: 1;
}

.calendarDay {
    flex: 1;
    text-align: center;
}

.calendarRow {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.userName {
    font-weight: bold;
    flex: 1;
    padding: 5px;
    background-color: #f0f0f0;
}

.calendarCell {
    flex: 1;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: 10px;
}

.shift {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 5px 0;
}

.shift div {
    margin-bottom: 5px;
}

.shift strong {
    font-weight: bold;
}
.applyPopup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
}

.applyPopup h2 {
    margin-top: 0;
}

.applyPopup div {
    margin-bottom: 10px;
}

.applyPopup textarea {
    width: 100%;
    height: 100px;
    border: 1px solid #ccc;
    padding: 5px;
    resize: vertical;
}

.applyPopup button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
}

.applyPopup button:hover {
    background-color: #0056b3;
}

/* Hintergrundüberlagerung */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.confirmationOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Hoch genug, um über anderen Elementen zu liegen */
}

.confirmationPopup {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    text-align: center;
}
